<div class="widget widget-nopad">
    <div class="widget-header">
        <i class="icon-list-alt"></i>
        <h3 class="marginHack"> Stats</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <canvas id="area-chart" class="chart-holder" height="250" width="538"> </canvas>
    </div>
    <!-- /widget-content -->
</div>