@model GraphViewModel

<div class="widget">
    <div class="widget-header">
        <i class="icon-signal"></i>
        <h3 class="marginHack"> Last used budget chart</h3>
    </div>
    <div class="widget-content">
        <div id="area-chart" style="width: 538px; height: 250px;"></div>
    </div>
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="~/lib/moment/moment.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', '@Model.DateTitle');
        data.addColumn('number', 'Incomes');
        data.addColumn('number', 'Expenses');
        data.addColumn('number', '@Model.EntriesTitle');

        $.ajax({
            cache: false,
            type: 'Get',
            url: '@Url.Action("GetChart")',
            success: function(chartData) {
                $.each(chartData,
                    function(i, item)
                    {
                        data.addRow([moment(item.label).toDate(),item.income,Math.abs(item.expense), item.value]);
                    });

                var options = {
                    title: '@Model.GraphTitle',
                    curveType: 'function',
                    legend: { position: 'bottom' },
                    vAxis: {minValue: 0},
                    seriesType: 'bars',
                    isStacked: true,
                    series: {2:{type: 'area', lineWidth: 3}},
                    colors: ['#009900','#cc0000','#660066']
                };

                var chart = new google.visualization.ComboChart(document.getElementById('area-chart'));

                chart.draw(data, options);
            }
        });
    };
</script>